@font-face {
  font-family: SourceSansPro-Regular;
  src: url("../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: SourceSansPro-SemiBold;
  src: url("../assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Oswald-Regular;
  src: url("../assets/fonts/Oswald/Oswald-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Oswald-Bold;
  src: url("../assets/fonts/Oswald/Oswald-Bold.ttf");
  font-weight: 700;
}
