@media (max-width: 768px) {
  .footer {
    &-content {
      gap: 30px;
    }
  }
}

@media (max-width: 576px) {
  .footer {
    &-content {
      flex-direction: column;
    }

    &-rights {
      align-self: start;
      justify-self: start;
    }
  }
}
